<div class="col-md-12">
    <div class="card card-container">
        <img
            alt="profile-img"
            class="profile-img-card"
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
        <form
            #f="ngForm"
            (ngSubmit)="f.form.valid && onSubmit()"
            *ngIf="!isLoggedIn"
            name="form"
            novalidate
        >
            <div class="form-group">
                <label for="username">Benutzername</label>
                <input #username="ngModel"
                       [(ngModel)]="form.username"
                       class="form-control"
                       id="username"
                       name="username"
                       required
                       type="text">
                <div
                    *ngIf="username.errors && f.submitted"
                    class="alert alert-danger"
                    role="alert"
                >
                    Benutzername wird benötigt
                </div>
            </div>
            <div class="form-group">
                <label for="password">Passwort</label>
                <input #password="ngModel"
                       [(ngModel)]="form.password"
                       class="form-control"
                       id="password"
                       minlength="6"
                       name="password"
                       required
                       type="password">
                <div
                    *ngIf="password.errors && f.submitted"
                    class="alert alert-danger"
                    role="alert"
                >
                    <div *ngIf="password.errors.required">Passwort wird benötigt</div>
                    <div *ngIf="password.errors.minlength">
                        Passwort muss mindestens 6 Zeichen lang sein!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" input type="submit" value="Login">
            </div>
            <div class="form-group">
                <div
                    *ngIf="f.submitted && isLoginFailed"
                    class="alert alert-danger"
                    role="alert">
                    Login fehlgeschlagen
                </div>
            </div>
        </form>

        <div *ngIf="isLoggedIn" class="alert alert-success">
            Eingeloggt als {{ username }}.
        </div>
    </div>
</div>

