<form (ngSubmit)="addKunde()" [formGroup]="KundenForm" nz-form>
    <nz-form-item>
        <nz-form-control [nzOffset]="8" [nzSpan]="4">
            <table>
                <td>
                    <button nz-button nzType="primary" routerLink="/kunden"><i nz-icon nzType="rollback" nzTheme="outline"></i>
                    </button>
                </td>
                <td>
                    <button nz-button nzType="primary" type="submit"><i nz-icon nzTheme="outline" nzType="save"></i>
                    </button>
                </td>
            </table>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="KundenAnrede" nzRequired>
            Anrede
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte wählen Sie eine Kundenanrede">
            <input nz-input formControlName="KundenAnrede" placeholder="KundenAnrede" type="text"
                   [(ngModel)]="kunde.KundenAnrede">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="KundenVorname" nzRequired>
            Vorname
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie einen Kundenvornamen ein">
            <input formControlName="KundenVorname" nz-input placeholder="KundenVorname" type="text" [(ngModel)]="kunde.KundenVorname">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="KundenNachname" nzRequired>
            Nachname
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie einen Kundennachnamen ein">
            <input formControlName="KundenNachname" nz-input placeholder="KundenNachname" type="text" [(ngModel)]="kunde.KundenNachname">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="ReAdressNr" nzRequired>
            RechnungsadressNr.
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie eine Rechnungsadressnummer ein">
            <input formControlName="ReAdressNr" nz-input placeholder="ReAdressNr" type="number" [(ngModel)]="kunde.ReAdressNr">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="LiAdressNr" nzRequired>
            LieferungsadressNr.
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie eine Lieferungsadressnummer ein">
            <input formControlName="LiAdressNr" nz-input placeholder="LiAdressNr" type="number" [(ngModel)]="kunde.LiAdressNr">
        </nz-form-control>
    </nz-form-item>
    <p style="color: red">* erforderlich</p>
</form>
