<table>
  <tr>
    <td class="DashboardKachel">
      <button class="DashboardButton" nz-button nzType="primary" nzBlock routerLink="/artikel">
        Artikel
      </button>
    </td>
    <td class="DashboardKachel">
      <button class="DashboardButton" nz-button nzType="primary" nzBlock routerLink="/kunden">
        Kunden
      </button>
    </td>
  </tr>
  <tr>
    <td class="DashboardKachel" colspan="2">
      <button class="DashboardButton" nz-button nzType="primary" nzBlock routerLink="/bestellungen">
        Bestellungen
      </button>
    </td>
    </tr>
  <tr>
    <td class="DashboardKachel">
      <button class="DashboardButton" nz-button nzType="primary" nzBlock routerLink="/bestellungen/liferscheine">
        Lieferscheine
      </button>
    </td>
    <td class="DashboardKachel">
      <button class="DashboardButton" nz-button nzType="primary" nzBlock routerLink="/bestellungen/rechnungen">
        Rechnungen
      </button>
    </td>
  </tr>
</table>

