<table>
    <tr>
        <td class="DashboardKachel">
            <button class="DashboardButton" nz-button nzBlock nzType="primary" routerLink="/artikel">
                Artikel
            </button>
        </td>
        <td class="DashboardKachel">
            <button class="DashboardButton" nz-button nzBlock nzType="primary" routerLink="/kunden">
                Kunden
            </button>
        </td>
    </tr>
    <tr>
        <td class="DashboardKachel" colspan="2">
            <button class="DashboardButton" nz-button nzBlock nzType="primary" routerLink="/bestellungen">
                Bestellungen
            </button>
        </td>
    </tr>
    <tr>
        <td class="DashboardKachel">
            <button class="DashboardButton" nz-button nzBlock nzType="primary" routerLink="/bestellungen/lieferscheine">
                Lieferscheine
            </button>
        </td>
        <td class="DashboardKachel">
            <button class="DashboardButton" nz-button nzBlock nzType="primary" routerLink="/bestellungen/rechnungen">
                Rechnungen
            </button>
        </td>
    </tr>
</table>

