<div>
    <button nz-button nzType="primary" routerLink="artikelErstellen"><i nz-icon nzType="plus" nzTheme="outline"></i>
</button>
<span class="error">{{errorMessage}}</span>
</div>

<br>
<nz-table #basicTable [nzData]="['']">
    <thead>
       <tr>
        <th>Nr.</th>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Preis</th>
        <th>Bearbeiten</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let artikel of eintraege">
        <td>{{artikel.ArtikelNr}}</td>
        <td>{{artikel.ArtikelName}}</td>
        <td>{{artikel.ArtikelBeschreibung}}</td>
        <td>{{artikel.ArtikelPreis}}</td>
        <td><i class="bearbeitenButton" [routerLink]="['artikelBearbeiten', artikel.ArtikelNr]" nz-icon nzTheme="outline" nzType="edit"></i>
            <i class="bearbeitenButton" (click)="deleteArtikel(artikel.ArtikelNr)" nz-icon nzTheme="outline" nzType="delete"></i>
        </td>
    </tr>
    </tbody>
</nz-table>
