<p>artikel works!</p>
<nz-table class="Artikeltabelle">
    <tr>
        <th>Nummer</th>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Preis</th>
        <th></th>
        <th><button>neu</button></th>
    </tr>
    <tr *ngFor="let artikel of eintraege">
        <td>{{artikel.ArtikelNr}}</td>
        <td>{{artikel.ArtikelName}}</td>
        <td>{{artikel.ArtikelBeschreibung}}</td>
        <td>{{artikel.ArtikelPreis}}</td>
        <td><a href="">löschen</a></td>
        <td><a href="">editieren</a></td>
    </tr>
</nz-table>
