<!--<br>
<div>
    <p>&nbsp;</p>
    <p>{{ KundenAnrede }} {{ KundenVorname }} {{ KundenNachname }}<br></p>
    <br>
    <p>{{ Lieferadresse }}</p>
    <br>
    <p>Deutschland</p>
    <p>Datum: {{currentDate}}</p>
    <h2>Lieferschein</h2>
    <p>KundenNr.: {{ KundenNr }} | BestellNr.: {{ BestellNr }}</p>
    <br>
    <p>{{ BestellPos }} | </p>


    <p>Mit diesem Lieferschein wird rechtsverbindlich der Empfang der oben genannten Waren bestätigt.</p>
    <p>Eigentumsvorbehalt: Die Produkte verbleiben bis zur vollständigen Bezahlung im Eigentum oben
        genannter
        Firma.</p>
</div>-->
