<form (ngSubmit)="submitForm()" [formGroup]="alterBestellungForm" nz-form (keydown.enter)="submitForm()">
    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="4">
            <table>
                <td>
                    <button nz-button nzType="primary" routerLink="/bestellungen"><i nz-icon nzType="rollback" nzTheme="outline"></i>
                    </button>
                </td>
                <td>
                    <button nz-button nzType="primary" type="submit"><i nz-icon nzTheme="outline" nzType="save"></i>
                    </button>
                </td>
            </table>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="BestellNr" nzRequired>
            Nr.
        </nz-form-label>
        <nz-form-control [nzSpan]="8">
            <span nz-typography>{{bestellung.BestellNr}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="BestellStatus" nzRequired>
            Status
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte wählen Sie einen Bestellstatus">
            <nz-select [nzOptions]="StatusOptionen" formControlName="BestellStatus"
                       nzPlaceHolder="bitte wählen" [(ngModel)]="bestellung.BestellStatus"></nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="BestellDatum" nzRequired>
            Bestelldatum
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie eine Bestelldatum ein">
            <input nz-input formControlName="BestellDatum" [(ngModel)]="bestellung.BestellDatum">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="LieferDatumGeplant">
            Lieferdatum geplant
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie eine geplantes Lieferdatum ein">
            <input nz-input formControlName="LieferDatumGeplant" [(ngModel)]="bestellung.LieferDatumGeplant">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="VersandDatum">
            Versanddatum
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie ein Versanddatum ein">
            <input nz-input formControlName="VersandDatum" [(ngModel)]="bestellung.VersandDatum">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="KundenNr" nzRequired>
            KundenNr.
        </nz-form-label>
        <nz-form-control [nzSpan]="8">
            <span nz-typography>{{bestellung.KundenNr}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="ReAdressNr" nzRequired>
            RechnungsadressNr.
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie eine Rechnungsadressnummer ein">
            <input formControlName="ReAdressNr" nz-input placeholder="ReAdressNr" type="number" [(ngModel)]="bestellung.ReAdressNr">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="LiAdressNr" nzRequired>
            LieferadressNr.
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Bitte geben Sie eine Lieferadressnummer ein">
            <input formControlName="LiAdressNr" nz-input placeholder="LiAdressNr" type="number" [(ngModel)]="bestellung.LiAdressNr">
        </nz-form-control>
    </nz-form-item>
    <p style="color: red">* erforderlich</p>
</form>
